<h2>Latest posts:</h2>

<% @results.each do |post| %>
    <p>
        <div>
            <label>Author: </label>
            <span style="color: #559ef8"><%= post['author']%></span>
        </div>
        <%= post['content'] %>
        <br />
        <span style="font-size: 75%; color: #999">Added at <%= post['created_date'] %></span>
    </p>
    <a href="/details/<%= post['id'] %>">Comments</a>
    <hr />
<% end %>